.c-bgImg {
    position: absolute;
    z-index: -1;
}
// cta
.c-bgImg__cta-l {
    bottom: -10%;
    left: -10%;
    height: 150px;
    @include media-breakpoint-up(md){
        bottom: 10%;
        left: -10%;
        height: 200px;
    }
}
.c-bgImg__cta-r {
    top: -20%;
    right: -10%;
    height: 120px;
    @include media-breakpoint-up(md){
        top: 20%;
        right: -10%;
        height: 180px;
    }
}
// theme
.c-bgImg__theme-1 {
    left: 2%;
    top: -3%;
  //  height: 260px;
  height: 15vw;
}
.c-bgImg__theme-2 {
    right: -10%;
    top: 10%;
  //  height: 317px;
  height: 24vw;
    
    
}
.c-bgImg__theme-3 {
    left: 12%;
    top: 40%;
    // height: 200px;
    height: 15vw;
}
.c-bgImg__theme-4 {
    right: 10%;
    top: 80%;
  //  height: 210px;
    height: 15vw;
    filter: blur(3px);
    
}
// hosts 
.c-bgImg__host-1 {
    right: 13%;
    top: 20%;
    height: 23vw;
}
// speaker
.c-bgImg__speaker-1 {
    left: 5%;
    top: -2%;
    height: 12vw;
}
.c-bgImg__speaker-2 {
    right: -2%;
    top: 32%;
    height: 25vw;
}
.c-bgImg__speaker-3 {
    left: 5%;
    top: 75%;
    height: 14vw;
    filter: blur(3px);
}

// agenda
.c-bgImg__agenda-1 {
    right: 30%;
    top: 0%;
    height: 3vw;
}
.c-bgImg__agenda-2 {
    right: -2%;
    top: 18%;
    height: 22vw;
}
.c-bgImg__agenda-3 {
    left: 2%;
    top: 60%;
    height: 12vw;
}
.c-bgImg__agenda-4 {
    right: 2%;
    bottom: -7%;
    height: 24vw;
    filter: blur(3px);
}
.c-bgImg__register-1 {
    left: -3%;
    height: 18vw;
    top: 22%;
}
// footer
.c-bgImg__footer-1 {
    left: -2%;
    height: 18vw;
    top: 17%;

}
.c-bgImg__footer-2 {
    right: -12%;
    height: 28vw;
    top: 3%;
}
.c-bgImg__footer-3 {
    left: 17%;
    height: 12vw;
    bottom: 17%;
}