
.c-keyvisual {
    height: 80vh;
    width: 100vw;
    max-width: 100vvw;
    min-height: 650px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    @include media-breakpoint-up(sm){
        min-height: 700px;
    }
    @include media-breakpoint-up(sm){
        margin-top: $spacer-lg;
    }
    @include media-breakpoint-up(xxl){
        min-height: 900px;
    }
    &__title {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0 auto;
        padding: $spacer-sm ;
        bottom: $spacer-md;
        @include media-breakpoint-up(sm){
            position: absolute;
            left: 0;
            right: 0;
            padding: $spacer-lg  $spacer-lg  0  $spacer-lg;
         // padding: $spacer-md 40% $spacer-md $spacer-md;
            margin-top: 3rem!important;
        }
        @include media-breakpoint-up(md){
            width: 57vh;
            padding: 0;
            margin-top: 4rem!important;
           @include va-align;
          

        }
    }
    &__img {
        width: 100%;
        height: 100%;
       
        position: relative;
    
    }
    &__img__img {
      width: 100%;
      height: 80vh;
      height: auto;
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      bottom: 0;
      transform: scale(1);
      transform-origin: top center;
      z-index: 1;
      transform: scale(2.9) translateX(20%) translateY(-17%);
      @include media-breakpoint-up(sm){
        transform: scale(2.4) translateX(17%) translateY(-35%);
     //   border: 1px solid yellow;
      }
        @include media-breakpoint-up(md){
           transform: scale(2.3) translateX(-10%) translateY(0%);
       //     border: 1px solid orange;
        }
        @include media-breakpoint-up(lg){
            transform: scale(1.8) translateX(-10%) translateY(0%);
      //      border: 1px solid red;
        }
        @include media-breakpoint-up(xl){
            transform: scale(1.6) translateX(-10%) translateY(0%);
       //     border: 1px solid blue;
        }
        @include media-breakpoint-up(xxl){
            transform: scale(1.4) translateX(-10%) translateY(0%);   
       //     border: 1px solid purple;
        }
    }
}

.c-keyvisual__img {
    visibility: hidden;
    opacity: 0;
}


.primary-400    { fill: $primary-400;   }           
.primary-600    { fill: $primary-600;   }       
.primary-800    { fill: $primary-800;   }    
.secondary-400  { fill: $secondary-400;  }   
.secondary-600 { fill: $secondary-600; }    
.secondary-800   { fill: $secondary-800;   }        
.tertiary-200   { fill: $tertiary-200;   }        
.tertiary-400      { fill: $tertiary-400;   }      
.tertiary-600       { fill: $tertiary-600;   }  
.tertiary-800 { fill: $tertiary-800;}
.accent        { fill: $accent;   }          
.gray         { fill: $gray;   }           
.neutral           { fill: $neutral;   }    
.black { fill: $black;   } 


        
       
        
       
       
       
        
   
            
              
             
 
            